<a href="https://colab.research.google.com/github/SowryaAsish-068/moduleassign/blob/MODULE-1-EXERCISE/loopsipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for loops

n = 4
for i in range(0, n):
	print(i)

0
1
2
3

In [ ]:
# Python program to demonstrate
# Creation of Set in Python

set1 = set()
print("Initial blank Set: ")
print(set1)

set1 = set("Gitam")
print("\nSet with the use of String: ")
print(set1)

String = 'Gitam'
set1 = set(String)
print("\nSet with the use of an Object: " )
print(set1)

set1 = set(["Gitam", "For", "Gitam"])
print("\nSet with the use of List: ")
print(set1)

Initial blank Set:
set()

Set with the use of String:
{'a', 'i', 'G', 'm', 't'}

Set with the use of an Object:
{'a', 'i', 'G', 'm', 't'}

Set with the use of List:
{'Gitam', 'For'}

In [ ]:
#adding elements to set

set1 = set()
print("Initial blank Set: ")
print(set1)

set1.add(7)
set1.add(8)
set1.add((7,8))
print("\nSet after Addition of Three elements: ")
print(set1)

for i in range(2, 6):
	set1.add(i)
print("\nSet after Addition of elements from 1-5: ")
print(set1)

set2= set()
print("Intial blank set: ")
print(set2)

set2.add(5)
set2.add(7)
set2.add((6,9))
print("\nset after Addition of three elements: ")
print(set2)

for i in range(5,7):
  set2.add(i)
  print("\nset after Addition of elements from 4-7: ")
  print(set2)

Initial blank Set:
set()

Set after Addition of Three elements:
{8, (7, 8), 7}

Set after Addition of elements from 1-5:
{2, 3, 4, 5, 7, 8, (7, 8)}
Intial blank set:
set()

set after Addition of three elements:
{(6, 9), 5, 7}

set after Addition of elements from 4-7:
{(6, 9), 5, 7}

set after Addition of elements from 4-7:
{(6, 9), 5, 6, 7}

In [ ]:
#UPDATE METHOD

set1 = set([ 3, 4, (5, 6)])
set1.update([9, 10])
print("\nSet after Addition of elements using Update: ")
print(set1)

set2 = set([ 6, 7, (8, 9)])
set1.update([10, 11])
print("\nSet after Addition of elements using Update: ")
print(set2)

set3 = set([ 333, 444, (888, 999)])
set1.update([555, 551])
print("\nSet after Addition of elements using Update: ")
print(set3)

set4 = set([ 10^2, 7^2, (8^2, 9^2)])
set1.update([13^2, 14^2])
print("\nSet after Addition of elements using Update: ")
print(set4)

Set after Addition of elements using Update:
{3, 4, (5, 6), 9, 10}

Set after Addition of elements using Update:
{(8, 9), 6, 7}

Set after Addition of elements using Update:
{444, 333, (888, 999)}

Set after Addition of elements using Update:
{8, (10, 11), 5}

In [ ]:
#Creating a Dictionary

Dict = {1: 'Sowrya', 2: 'For', 3: 'Asish'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dict = {'Name': 'Sowrya Asish', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dict = {1: '22334455', 2: 'For', 3: '234567'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Sowrya', 2: 'For', 3: 'Asish'}

Dictionary with the use of Mixed Keys:
{'Name': 'Sowrya Asish', 1: [1, 2, 3, 4]}

Dictionary with the use of Integer Keys:
{1: '22334455', 2: 'For', 3: '234567'}

In [ ]:
#Nested Dictionary

Dict = {1: 'Sowrya', 2: 'For',
		3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Sowrya'}}

print(Dict)

{1: 'Sowrya', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Sowrya'}}

In [ ]:
#placement dictionary

placement={
    "name":"SOWRYA",
    "age":18,
     "CGPA":9.7,
    "phone_number":9392367501

}
print(placement)
placement={
  "name":input("enter name:"),
  "age":int(input("enter age:")),
  "CGPA":float(input("enter CGPA:")),
  "phone_number":int(input("enter number:"))
    
}
print(placement)

{'name': 'SOWRYA', 'age': 18, 'CGPA': 9.7, 'phone_number': 9392367501}
enter name:SOWRYA
enter age:18
enter CGPA:9.7
enter number:9392367501
{'name': 'SOWRYA', 'age': 18, 'CGPA': 9.7, 'phone_number': 9392367501}