<a href="https://colab.research.google.com/github/SowryaAsish-068/moduleassign/blob/MODULE-1-EXERCISE/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit=['apple','orange','grape','watermelon','mango','green apple']
print(fruit[0:4])
print(fruit[2:6])
print(fruit[0])
print(fruit[1])
print(fruit[2])
print(fruit[3])
print(fruit[4])
print(fruit[5])
print(fruit[-5])
print(fruit[-4])
print(fruit[-3])
print(fruit[-2])
print(fruit[-1])

['apple', 'orange', 'grape', 'watermelon']
['grape', 'watermelon', 'mango', 'green apple']
apple
orange
grape
watermelon
mango
green apple
orange
grape
watermelon
mango
green apple

In [ ]:
num=['1','2','3','4','5','6']
print(num[2:5])
print(num[1:5])
print(num[3:5])

['3', '4', '5']
['2', '3', '4', '5']
['4', '5']

In [ ]:

odd = [2, 4, 6, 8]  
odd[0] = 1            
print(odd)
odd[1:4] = [3, 5, 7]  
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
fruit= ["apple", "banana", "cherry"]
print(fruit)
fruit.append('apple')
print(fruit)
fruit.insert(-2,'mango')
print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple']
['apple', 'banana', 'mango', 'cherry', 'apple']

In [ ]:
name= ["suresh", "ramesh", "chandu"]
print(name)
name.append('ramesh')
name.insert(-1,'sowrya')
print(name)
(name.reverse())
print(name)
name.pop(3)
print(name)
b=name.copy()
print(b)
print(len(name))
name.extend('kirl')
print(name)
print(len(name))

['suresh', 'ramesh', 'chandu']
['suresh', 'ramesh', 'chandu', 'sowrya', 'ramesh']
['ramesh', 'sowrya', 'chandu', 'ramesh', 'suresh']
['ramesh', 'sowrya', 'chandu', 'suresh']
['ramesh', 'sowrya', 'chandu', 'suresh']
4
['ramesh', 'sowrya', 'chandu', 'suresh', 'k', 'i', 'r', 'l']
8